/*********** TYPEFACES ***********/

/*
- Define fonts/font families and their attributes
- Define font names along with their weights and stretching only
- Font file includes all happen here
*/

@font-face {
  font-family: "JosefinSans";
  src:
    url("../font/josefin-sans/regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "JosefinSans";
  src:
          url("../font/josefin_sans/semi_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
}

@font-face {
  font-family: "JosefinSans";
  src:
     url("../font/josefin_sans/bold_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
}

@font-face {
  font-family: "JosefinSans";
  src:
          url("../font/josefin_sans/light.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}


@font-face {
  font-family: "JosefinSans";
  src:
          url("../font/josefin_sans/light_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

// Multiple font-faces
// TODO https://stackoverflow.com/questions/28279989/multiple-font-weights-one-font-face-query

// @font-face {
//  font-family: 'MyWebFont';
//  src: url('webfont.eot'); /* IE9 Compat Modes */
//  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//  url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//  url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//  url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
//  font-style: italic;
//  font-weight: bold;
//  font-stretch: normal;
//  font-variant: normal|small-caps|initial|inherit;
// }
