/*********** TYPOGRAPHY ***********/

/*
- Define how fonts map on to elements in HTML files
- Define spacing, weights, styles etc
- Keep typographic rules here
- Use created definitions in other files
*/
$link-color: #888888;
$base-font-size: 130%;
$heading-scaling-factor: 0.2rem;

body {
  font-family:
    "JosefinSans",
    Helvetica,
    sans-serif;
  font-weight: 100;
}

p {
  font-size: $base-font-size;
}

h1 { font-size: 1.10rem   + 4*$heading-scaling-factor; }
h2 { font-size: 1.00rem   + 3*$heading-scaling-factor; }
h3 { font-size: 1.00rem   + 2*$heading-scaling-factor; }
h4 { font-size: 1.00rem   + 1*$heading-scaling-factor; }
h5 { font-size: 1.00rem   + 0*$heading-scaling-factor; }
h6 { font-size: 1.00rem   - 1*$heading-scaling-factor; }

a {
  color: #888888;
  font-weight: bold;
  text-decoration: none;
}

label {
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
}

legend {
  font-family: inherit;
  font-weight: bold;
  font-style: normal;
}

blockquote {
  font-family:
    "JosefinSans",
    sans-serif;
  font-style: italic;
  font-weight: 100;
}

// https://www.reliablepsd.com/ultimate-google-font-pairings/
// Use Native font Stacks
//    https://getbootstrap.com/docs/4.5/content/reboot/#native-font-stack
//    https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
//    https://getbootstrap.com/docs/4.5/content/typography/

// font-family: ... , georgia, "times new roman", times, serif;

// Modern
// //  1
// <link href="https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700" rel="stylesheet">
// font-family: 'Roboto Condensed', sans-serif;
// font-size: 35px;
//
//
// font-family: 'Cabin', sans-serif;
// font-size: 16px;
//
// //  2
// <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
// font-family: 'Raleway', sans-serif;
// font-size: 44px;
//
// font-family: 'Open Sans', sans-serif;
// font-size: 15px;
//
// // 19 Modern Formal
// <link href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento" rel="stylesheet">
// font-family: 'Oswald', sans-serif;
// font-size: 48px;
//
// font-family: 'Quattrocento', serif;
// font-size: 16px;
//
// // 22 Very Good
// <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Monda" rel="stylesheet">
// font-family: 'Julius Sans One', sans-serif;
// font-size: 45px;
//
// font-family: 'Monda', sans-serif;
// font-size: 16px;
//
// 29
//<link href="https://fonts.googleapis.com/css?family=Lato|Slabo+13px" rel="stylesheet">
//font-size: 48px;
//
//font-family: 'Lato', sans-serif;
//font-size: 16px;
//
// Formal
// // 30
// <link href="https://fonts.googleapis.com/css?family=PT+Serif|Rufina:700" rel="stylesheet">
// font-family: 'Rufina', serif;
// font-size: 48px;
//
// font-family: 'PT Serif', serif;
// font-size: 16px;
//
// // 37 Reallygood
// <link href="https://fonts.googleapis.com/css?family=Cardo|Libre+Franklin" rel="stylesheet">
// font-family: 'Cardo', serif;
// font-size: 48px;
//
// font-family: 'Libre Franklin', sans-serif;
// font-size: 14px;
//
// // 40
// <link href="https://fonts.googleapis.com/css?family=Average+Sans|Goudy+Bookletter+1911" rel="stylesheet">
// font-family: 'Goudy Bookletter 1911', serif;
// font-size: 48px;
//
// font-family: 'Average Sans', sans-serif;
// font-size: 16px;
// // 43
// <link href="https://fonts.googleapis.com/css?family=Lato|Prata" rel="stylesheet">
//                                                                                 font-family: 'Prata', serif;
// font-size: 48px;
//
// font-family: 'Lato', sans-serif;
// font-size: 16px;
//

